.box-1{
    background-color: darkcyan;
    width: 300px;
    height: 300px;
}
.box-2{
    background-color: goldenrod;
    width: 300px;
    height: 300px;
}
.box-3{
    background-color: dodgerblue;
    width: 300px;
    height: 300px;
}
.box-4{
    background-color: dodgerblue;
    width: 300px;
    height: 300px;
}
.box-5{
    background-color: dodgerblue;
    width: 300px;
    height: 300px;
}
.box-6{
    background-color: dodgerblue;
    width: 300px;
    height: 300px;
}
.box-7{
    background-color: dodgerblue;
    width: 300px;
    height: 300px;
}
.box-8{
    background-color: dodgerblue;
    width: 300px;
    height: 300px;
}
.box-9{
    background-color: dodgerblue;
    width: 300px;
    height: 300px;
}