
* {
    margin: 0;
    padding: 0;
}

.titulo1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(242, 230, 230);
    font-size: 25em;
    letter-spacing: 0px;
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
    color: rgb(231, 231, 238);
    text-shadow: rgb(233, 227, 227);
}
body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
align-items: center;
    background: url(./public/fc813e57424d1ad9576f9066812f670f.jpeg);
    background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
